:root {
  --green: #00FF00;
  --white: #FFFFFF;
  --black: #000000;
  --grey : #2b2828;
  
}
@keyframes pageEnter {
  to {
    transform: scale(1); /* Taille normale */
    opacity: 1; /* Complètement visible */
  }
}
body {
  background: var(--bg);
  color: var(--fontColor);
  font-family: helvetica;
  transform: scale(0.); /* Début à une taille réduite */
  opacity: 0; /* Invisible au départ */
  animation: pageEnter 0.5s ease forwards; /* Animation */
  

}
.form{
  position: absolute;
  top:  350px;
  right: 555px;



}

.btn_main_title{
  position: absolute;
  text-decoration: none;
  color: #000000;
  top: 10px;
  left: 52%;
  height: 50px;
  width: 400px;
  border: none;
  font-size: 40px;
  transform: translateX(-50%);

}

.subtitle{
  position: absolute;
  text-decoration: none;
  color: #000000;
  top: 60px;
  left: 52%;
  height: 50px;
  width: 400px;
  border: none;
  font-size: 20px;
  transform: translateX(-50%);

}



.btn_start{
  position: absolute;
  text-decoration: none;
  color: #000000;
  top: 400px;
  left: 44%;
  height: 50px;
  width: 200px;
  border: none;
  transition: transform 0.3s ease,   0.3s ease;

}

.btn_start:hover {
  transform: translateY(-10px); /* Fait monter le texte */
  background-color: rgb(7, 97, 27); /* Change également la couleur (facultatif) */
}
.btn_start:active {
  transform: scale(0.95); /* Réduit légèrement la taille */
  background-color: navy;
}







/* ----DARK-THEME & LIGHT-THEME---- */
.light-theme {
  --bg: var(--grey);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--white);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}