:root {
  --green: #00FF00;
  --white: #FFFFFF;
  --black: #000000;
  --grey : #2b2828;
  
}
@keyframes pageEnter {
  to {
    transform: scale(1); /* Taille normale */
    opacity: 1; /* Complètement visible */
  }
}
body {
  background: var(--bg);
  color: var(--fontColor);
  font-family: helvetica;
  transform: scale(0.); /* Début à une taille réduite */
  opacity: 0; /* Invisible au départ */
  animation: pageEnter 0.5s ease forwards; /* Animation */
  height: 100vh;
  

}

header{
  display: flex;
  flex-direction: column; /* Les éléments (h1 et h2) sont empilés verticalement */
  justify-content: center; /* Centre verticalement */
  align-items: center; /* Centre horizontalement */
  height: 19vh; /* Prend toute la hauteur de la page */
  /* border: #000000 solid 0.5px; */
}


  header h1{
    display: inline-block;
    /* border: #ff0a0a solid 0.5px; */
    margin: 10px 0; /* Espace entre les rectangles */
    padding: 10px;


}
header h2{
  display: inline-block;
  /* border: #ff0a0a solid 0.5px; */
  margin: 10px 0; /* Espace entre les rectangles */
  padding: 10px;
  width: auto; /* Ajustez la largeur si nécessaire */
  text-align: center;
}

.corp{
  /* border: #00FF00 0.5px solid; */
  height: 81vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /* Les éléments (h1 et h2) sont empilés verticalement */
  justify-content: center; /* Centre verticalement */
  align-items: center; /* Centre horizontalement */

}
.form{
  border: #170caf 0.5px;
  height: auto;
  margin: 10px;

}





.btn_start{
  display: inline-block;
  text-decoration: none;
  color: #000000;
  top: 400px;
  left: 44%;
  height: 50px;
  width: 150px;
  border: none;
  transition: transform 0.3s ease,   0.3s ease;
  cursor: pointer;

}

.btn_start:hover {
  transform: translateY(-10px); /* Fait monter le texte */
  background-color: rgb(10, 61, 90); /* Change également la couleur (facultatif) */
}
.btn_start:active {
  transform: scale(0.95); /* Réduit légèrement la taille */
  background-color: navy;
}







/* ----DARK-THEME & LIGHT-THEME---- */
.light-theme {
  --bg: var(--grey);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--white);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}