:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
    --grey : #534f4f;
    --white2 : #d1c7c7;
    --darkgreen: #075207;
    
  }
  @keyframes pageEnter {
    to {
      transform: scale(1); /* Taille normale */
      opacity: 1; /* Complètement visible */
    }
  }
  body {
    background: var(--grey);
    color: var(--fontColor);
    font-family: helvetica;
    transform: scale(0.); /* Début à une taille réduite */
    opacity: 0; /* Invisible au départ */
    animation: pageEnter 0.5s ease forwards; /* Animation */



    button{
        transition: transform 0.3s ease,   0.3s ease;



        
    }
    button:hover {
        transform: translateY(-10px); /* Fait monter le texte */
        background-color: rgb(10, 61, 90); /* Change également la couleur (facultatif) */
        cursor: pointer;

    }
    button:active {
        transform: scale(0.95); /* Réduit légèrement la taille */
        background-color: navy;
      }


    .BG{
        
        display: none;
        color: rgb(141, 8, 8);
        right: 20px;
        
    }

    .next_bnt{
       
        display: none;
        position: absolute;
        color: black;
        width: 150px;
        height: 60px;
        right: 60px;
        bottom: 80px;
        background-color: #096109;
        cursor: pointer;



    }






    .answer{
        background-color: rgb(65, 63, 63);
        height: 300px;
        padding: 10px;
        line-height: 60px;
        


    }


    .btn_answer1{
        position: absolute;
        text-decoration: none;
        color: #000000;
        top: 500px;
        left: 100px;
        border: none;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;

    }
    .btn_answer2{
        position: absolute;
        text-decoration: none;
        color: #000000;
        top: 500px;
        left: 250px;
        border: none;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;

    }
    .btn_answer3{
        position: absolute;
        text-decoration: none;
        color: #000000;
        top: 500px;
        left: 400px;
        border: none;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;

    }
    .btn_answer4{
        position: absolute;
        text-decoration: none;
        color: #000000;
        top: 500px;
        left: 550px;
        border: none;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;

    }
    



  
  }